* {
    font-family: "Roboto", "Lato", serif, sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 5.05rem;
}

body {
    background-color: #979797;
    box-sizing: border-box;
    color: white;
    width: 100vw;
}

.main {
    background-color: #232225;
    height: 100%;
    margin: 5.05rem auto 0 auto;
    min-height: 100%;
    overflow: hidden;
    width: 100vw;
}

.articles {
    background-color: #232225;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 2rem;
    width: 75vw;
}

.article-nav{
    padding: .5rem 0;
    text-align: center;
    width: 100%;
}

.article-nav .fa{
    font-size: 2.5rem;
    padding: 0 2rem 1rem 2rem;
}

.article-nav .fa:hover{
    color: #979797;
}

@media screen and (max-width: 1010px) {
    .articles {
        width: 100vw;
    }

    aside {
        display: none;
    }
}

.header {
    background-color: #404040;
    box-sizing: border-box;
    color: white;
    min-height: 5.05rem;
    overflow: hidden;
    padding: 1rem;
    position: fixed;
    text-overflow: ellipsis;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.header h1 {
    display: inline;
    font-size: 2.25rem;
}

.top_nav {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
}

#logo-svg {
    fill: white;
    height: auto;
    margin-right: 1rem;
    perspective: 2000px;
    transform-style: preserve-3d;
    transition: all 2s ease;
    visibility: hidden;
    width: 2.5rem;
}

#logo-svg:hover {
    fill: #bdbdbd;
    transform: rotateY(180deg);
}

#logo-svg:active {
    fill: #979797;
}

#hamburgerIcon i {
    font-size: 3rem;
    line-height: 3rem;
    position: absolute;
    right: 3rem;
    top: 1rem;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 550px) {
    #hamburgerIcon i {
        font-size: 2rem;
        right: 2rem;
    }
}

#menu_links {
    background-color: transparent;
    display: none;
    height: 100vh;
    padding-top: 15rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}

#menu_links::before {
    background: #232225;
    content: "";
    height: 100vh;
    opacity: 95%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

#menu_links a {
    display: block;
    font-size: 1.75rem;
    padding: 0.5rem;
    text-align: center;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100vw;
}

header a:hover, footer a:hover, article a:hover {
    color: #bdbdbd;
}

header a:active, footer a:hover, article a:hover {
    color: #979797;
}


#mainPagePhoto {
    background-image: url("../../fig/asking-alexandria.jpeg");
    height: calc(100vh - 5.05rem);
    object-fit: fill;
    width: 100vw;
}

#mainPagePhoto p {
    color: black;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 10% 5% 0 45%;
}

@media screen and (max-width: 1025px) {
    #mainPagePhoto p {
        font-size: 2.25rem;
    }

    #mainPagePhoto {
        background-position: -10rem 0;
    }
}

@media screen and (max-width: 850px) {
    #mainPagePhoto p {
        font-size: 2rem;
    }

    #mainPagePhoto {
        background-position: -12rem 0;
        background-size: 200%;
    }
}

@media screen and (max-width: 635px) {
    #mainPagePhoto p {
        font-size: 1.5rem;
    }

    #mainPagePhoto {
        background-position: -6rem 0;
    }
}

.nextSection {
    animation: scale;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    background: #000;
    border-radius: 50%;
    bottom: 2rem;
    box-shadow: 0.25rem 0.25rem 1rem #232225;
    display: none;
    font-size: 4rem;
    font-weight: 800;
    height: 5rem;
    position: fixed;
    right: 2rem;
    text-align: center;
    width: 5rem;
    z-index: 1;
}

@supports (-moz-appearance: none) {
    .nextSection {
        font-size: 3rem;
    }
}

@keyframes scale {
    from {
        color: #000;
    }
    to {
        color: #fff;
    }
}

#new_articles {
    box-sizing: border-box;
    min-height: calc(100vh - 5.05rem);
}

#nameOfSection {
    font-size: 4rem;
    margin: 0;
    padding: 1.25rem;
    text-align: center;
}

#article {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}

.newsCard {
    background: linear-gradient(to right, #404040 3rem, #f0f0f0 3rem);
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 1rem #000;
    color: black;
    height: auto;
    margin: 1.5rem;
    padding: 1em 1em 1em 3rem;
    transition-duration: 1s;
    transition-property: all;
    width: 50%;
}

.newsCard:hover {
   -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.articleLink:hover{
    color: #232225;
}
.newsCard:active {
    background-color: #979797;
}

.contentOfArticle{
    font-size: 0.8rem;
}

.newsText {
    color: #404040;
    font-size: 0.8rem;
    margin: .5rem 0.5rem 1rem 0.5rem;
    padding: 0;
}

.cardHeader {
    font-size: 1.75rem;
    margin: 0 0.5rem 0 0.5rem;
}

.next_page {
    font-size: 2.5rem;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.next_page a {
    display: inline-block;
    font-size: 3rem;
    margin: 0 .25rem;
}

#comments_form {
    height: calc(100vh - 5rem);
    width: 100%;
}

#comments_img {
    background-image: url("../../fig/rock-band.jpeg");
    background-position: 0 20%;
    background-size: cover;
    float: left;
    height: 100%;
    width: 50vw;
}

.form {
    background: #979797;
    box-sizing: border-box;
    float: right;
    font-size: 1.25rem;
    font-weight: 500;
    height: 100%;
    padding: 0.25rem 1rem;
    width: 50vw;
}

.form h1 {
    color: #f0f0f0;
    text-align: center;
}

.form label {
    display: inline-block;
    margin: 0.5rem 0.25rem 0.5rem 0;
}

.check_labels {
    color: #404040;
    font-size: 1.2rem;
}

.first_part {
    width: 11rem;
}

@media screen and (max-width: 1022px) {
    #comments_img {
        display: none;
    }

    .form {
        height: 100%;
        padding: 1rem;
        width: 100vw;
    }

    .check_labels {
        font-size: 1.1rem;
    }
}

input,
textarea {
    background-color: #f0f0f0;
    border: 0 solid;
    border-radius: 1rem;
    color: #232225;
    font-size: 1rem;
    padding: 0.25rem;
}

#comment {
    box-sizing: border-box;
    margin-left: 11.5rem;
    max-height: 4rem;
    max-width: 20rem;
    min-width: 15rem;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 1rem;
}

textarea:focus,
input:focus {
    outline: none;
}

input:invalid,
textarea:invalid {
    border: 2px solid #977869;
    box-sizing: border-box;
}

input:required,
textarea:required {
    background-color: white;
}

input[type="submit"] {
    color: #977869;
}

input[type="reset"] {
    color: #404040;
}

.form_buttons {
    background-color: white;
    font-size: 1.25rem;
    font-weight: 400;
    height: 2rem;
    margin: 1rem 2rem 0 0;
    width: 7rem;
}

.form_buttons:hover {
    background-color: #bdbdbd;
}

.form_buttons:active {
    background-color: #000;
    color: white;
}

.comment {
    margin-bottom: 2em;
}

#comments, #article-comments {
    background: #bdbdbd;
    box-sizing: border-box;
    color: #000;
    display: block;
    min-height: 71vh;
    padding: 2rem;
    width: 100%;
}

#comments h1, #article-comments h1{
    text-align: center;
}

#comments h3, #article-comments h3 {
    line-height: 0;
    margin: 1rem 0;
    padding: 0;
    width: 75%;
}

#comments p, #article-comments p{
    padding: 0;
    width: 75%;
}

.comment_info {
    display: inline-block;
    width: 75%;
}

.comment_text {
    display: inline-block;
    font-size: 1.15rem;
    margin: 0 0 0.5rem 0;
}

@media screen and (max-width: 665px) {
    .comment_info {
        width: 60%;
    }

    #comments p, #article-comments p {
        width: 100%;
    }

    .profile_photo {
        height: 2.25rem;
        width: 2.25rem;
    }
}

.comment_email,
.add_info {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    opacity: 50%;
}

.profile_photo {
    border-radius: 50%;
    display: inline-block;
    height: 5rem;
    object-fit: cover;
    vertical-align: top;
    width: 5rem;
}

.first_comment, #first_article_comment {
    font-size: 1rem;
    opacity: 50%;
}

footer {
    background-color: #404040;
    box-sizing: border-box;
    color: white;
    height: 4.5rem;
    padding: 1rem;
    z-index: 2;
}

aside {
    float: left;
    top: 5rem;
    width: 25vw;
}

.asideMenu {
    box-sizing: border-box;
    height: auto;
    padding: 0.25rem;
}

.side {
    background-color: #232225;
    border-radius: 1rem;
    box-shadow: 0.05rem 0.05rem 1rem #000;
    box-sizing: border-box;
    color: #979797;
    display: inline-block;
    font-size: 1.25em;
    margin: 0 0 0.5rem 0;
    padding: 1rem;
    width: 100%;
}

.side a:hover,
.side:hover {
    color: white;
}

.active {
    background-color: #404040;
    color: white;
}

.advCard {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 1rem #000;
    color: #232225;
    height: 14rem;
    margin: 1rem 0 1rem 0.5rem;
    padding: 0.2em;
    transition: 1s;
    width: 13rem;
}

.advCard:hover {
    box-shadow: 0.25rem 0.25rem 1rem #fff;
    color: #232225;
}

.advCard a:hover{
    color: #232225;
}

.advCard img {
    border-radius: 1rem;
    display: block;
    height: 8rem;
    margin: 0 auto 0.5em auto;
    object-fit: contain;
    width: 100%;
}

.advHeader {
    font-size: 1rem;
    margin: 1.25rem 0.25rem 0 0.25rem;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #232225;
}

a:active {
    color: #979797;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}

h2 {
    clear: right;
    font-size: 2em;
    margin: 1em 0 0.5em 0;
}

h3 {
    font-size: 1.5em;
    margin: 1em 0 0.5em 0;
}

p {
    font-size: 1.25em;
    margin: 0.5em;
}

.articlePicture {
    float: right;
}

img {
    border-radius: 1rem;
    margin: 0 2em;
}

figcaption {
    color: #bdbdbd;
    text-align: center;
}

.mainPicture {
    display: block;
    height: auto;
    margin: 0 auto 0 auto;
    width: 30vw;
}

@media screen and (max-width: 720px) {
    .mainPicture {
        height: auto;
        width: 75vw;
    }
}

article {
    padding: 0 3em 0 3em;
}

ul {
    list-style-type: square;
    margin-left: 2em;
}

ol {
    list-style-type: upper-roman;
    margin-left: 2em;
}

.tableContainer {
    overflow-x: auto;
}

table,
th,
td {
    border: 0.1rem solid white;
    border-collapse: collapse;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}

td {
    color: #bdbdbd;
}

.hiddenElm{
    display: none;
}

#edit{
    height: 100%;
    padding: 0;
    width: 100vw;
}

#edit h2{
    font-size: 3rem;
    padding: 1.5rem 0;
    text-align: center;
}

#music-image{
    background-image: url("../../fig/music-patern.jpeg");
    background-position-x: 35%;
    background-size: 150%;
    float: left;
    height: 145vh;
    opacity: 50%;
    width: 25%;
}

#articleForm{
    box-sizing: border-box;
    float: right;
    font-size: 1.25rem;
    padding: 0 0 0 2rem;
    width: 75%;
}

@media screen and (max-width: 805px){
    #music-image{
        display: none;
    }
    #articleForm{
        clear: both;
        width: 100vw;
    }
}

#edit-nav{
    clear: both;
}

#articleForm input{
    margin-bottom: 2rem;
    padding: .5rem;
}

fieldset{
    border: .2rem solid #977869;
    border-radius: 1rem;
    padding: 1rem;
    width: 75%;
}


#flElm{
    padding: .5rem;
}

label[for=content]{
    display: inline-block;
    padding-top: 2rem;
}

#router-comments #article-comments{
    height: 100%;
}

#article-comments h1{
  text-align: center;
}

#content{
    height: 50vh;
    margin: 2rem 0 1rem 1rem;
    vertical-align: top;
    width: 50vw;
}

#articleForm button{
    background-color: #BDBDBD;
    color: #232225;
    font-size: 1.1rem;
    height: auto;
    margin-right: 1rem;
    padding: .5rem 1rem;
    width: auto;
}

#articleForm button:hover{
    background-color: #979797;
}

.buttons{
    background-color: #f0f0f0;
    border: 0;
    border-radius: 1rem;
    font-size: 1rem;
    height: 2rem;
    padding: .25rem .5rem;
}

.buttons:hover{
    background-color: #bdbdbd;
}

.buttons:active {
    background-color: #000;
    color: white;
}

#comment_form{
    background-color: #232225;
    border-radius: 1rem;
    color: #f0f0f0;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    width: 79vw;
}

#comment_form label{
    display: inline-block;
    margin: 1rem;
}

#commentEdit{
    border: 0;
}

#commentEdit input{
    width: 40%;
}


#commentEdit textarea{
    width: 50%;
}

#comment-text{
    height: 5rem;
    margin-top: 1rem;
    padding: .5rem;
    vertical-align: top;
    width: 20rem;
}

#article-commentList .comment{
    border: .1rem solid #232225;
    border-radius: 1rem;
    height: 100%;
    margin: 1rem auto;
    overflow-wrap: break-word;
    padding: .5rem;
    width: 80vw;
}

#article-comments .next_page{
    font-size: 2rem;
    text-align: center;
}

.next_page .fa{
    font-size: 1.95rem;
}

.contentOfArticle{
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
}

.contentOfArticle *{
    display: none;
}

.contentOfArticle :first-child:not(img){
    display: inline-block;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    word-wrap: break-word;
    font-size: 1rem;
}

.g-signin2{
    position: fixed;
    right: 0;
    top: 5.05rem;
    z-index: 0;
}

#signout-button{
    background-color: #f0f0f0;
    border: 0;
    box-sizing: border-box;
    color: #404040;
    height: 2.25rem;
    padding: .3rem 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 5.05rem;
    width: 7.5rem;
}




